<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>男士爱美丽-女士爱漂亮 第1期</title>
    <style type="text/css">
     body { width:600px; text-align: center; }
     body a { text-decoration:none; }
     .baobei{ margin-top:50px; }
     .dao_du p { text-align:left; }
     .product { display: block; width: 170; margin-left: 10px; margin-right: 10px; margin-top: 25px; font-size: 14px; border: 2px solid; border-radius: 20px; border-color: pink; float: left; }
     body img { width: 165px; }
     .price { margin-top: 20px; margin-bottom: 20px; }
     .footer { clear: both; padding-top: 25px; }
     .footer span { font-size: 11px; }
   </style>
  </head>
  <body>
    <div class="dao_du">
      <h2>卷首语 -- 生活在世界中, 不要亏欠自己!</h2>
      <hr />
      <h4><<以羊替牛>></h4>
      <p>古时候，人们每到一定的日子，都要在祠庙里举行一种祭祀仪式， 以表示对神灵的虔诚、求得神灵的庇佑，这种祭祀仪式叫“祭钟”。 每逢祭钟时，不是要杀一头牛，就是要杀一只羊，然后将牛的头或者羊的头用大木盘子盛放在祭神的供桌上，人们就站在供桌前祈祷。</p>
      <p>有一天，齐国都城里来了一个人，他牵着一头牛从皇宫大殿前走过。 这时，恰值齐宣王在大殿门口看见了，命人叫住那牵牛的人，</p>
      <p>便问道：“你打算把这头牛牵到那里去呢？”</p>
      <p>那人回答说：“我要牵去宰了用来祭钟。” </p>
      <p>齐宣王听了后，看了看那头牛，然后说：“这头牛本来没有罪过呀，却要白白地去死，看着它那吓得颤颤抖抖、哆哆嗦嗦的样子，我真不忍心看了。把它放了吧！” </p>
      <p>那个牵牛的人说：“大王您真慈悲，那就请您把祭钟这一仪式也废除了吧？”</p>
      <p>“这怎么可以废除呢？”齐宣王严肃起来，</p>
      <p>接着说：“这样子吧，就用一只羊代替这头牛吧！” </p>
      <p>这篇寓言故事告诉人们：杀牛和杀羊都是屠杀生命。对牛的怜悯与对羊的残忍在本质上是一样的，都不能算是仁慈。齐宣王的以羊替牛只不过是骗人的把戏，可见他的虚伪。</p>
    </div>

    <div class="baobei">
      <hr />
      <div class="list">
        <div class="product">
          <div class="title">
            <p>韩版公主修身长袖蕾丝连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXCQG3TNkEhnv90s2fdLLWHZ%2BWBFbkfoNUDpIYWa50nk4NGquHl2UCEFuXr%2Bh1ypQ75w%3D%3D"><img src="img/01.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXCQG3TNkEhnv90s2fdLLWHZ%2BWBFbkfoNUDpIYWa50nk4NGquHl2UCEFuXr%2Bh1ypQ75w%3D%3D"><span>RMB 49.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>韩版蕾丝雪纺打底修身A字连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXC5sZgB1rEoo6lWQqGzuf%2F7tcp2Byxb6zohXI1VkHUo4EXSmkDhy11zrYC%2FMSYUCp8A%3D%3D"><img src="img/02.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXC5sZgB1rEoo6lWQqGzuf%2F7tcp2Byxb6zohXI1VkHUo4EXSmkDhy11zrYC%2FMSYUCp8A%3D%3D"><span>RMB 138.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>大码修身打底裙子包臀无袖连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXCQ7pGCZSaDG%2FsoP0EiZVFaAEulKEx67WjQETgimDqlBBFMGOUIElQj6V7is37gD2o4Y%3D"><img src="img/03.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXCQ7pGCZSaDG%2FsoP0EiZVFaAEulKEx67WjQETgimDqlBBFMGOUIElQj6V7is37gD2o4Y%3D"><span>RMB 28.91</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>秋装新款长袖V领针织修身连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CITy7klxxrJ35Nnc0bjrB3Sa4zOL9ncHDZzPFdNjQflVBDyJsiApVE466RrhBLRRWPeTjOBpSdmsAN3aGwn5VLekA%3D%3D"><img src="img/04.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CITy7klxxrJ35Nnc0bjrB3Sa4zOL9ncHDZzPFdNjQflVBDyJsiApVE466RrhBLRRWPeTjOBpSdmsAN3aGwn5VLekA%3D%3D"><span>RMB 78.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>新款大码刺绣金丝绒长袖连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDgnk38TmrnmpAtLyTAl%2Bl5zNn5JFrxuWIDL2x3DAhBl29kvh97BkDO1Tm3EtxTIMfQ%3D%3D"><img src="img/05.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDgnk38TmrnmpAtLyTAl%2Bl5zNn5JFrxuWIDL2x3DAhBl29kvh97BkDO1Tm3EtxTIMfQ%3D%3D"><span>RMB 299.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>秋款蕾丝连衣裙增显OL气质</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDgejjJCWLZg3r5mcy1qfTjp5JmRr2I01aUtds%2FvhWVDccY8SI6e9YlBSxLZgfO8neR4%3D"><img src="img/06.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDgejjJCWLZg3r5mcy1qfTjp5JmRr2I01aUtds%2FvhWVDccY8SI6e9YlBSxLZgfO8neR4%3D"><span>RMB 178.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>韩版修身长袖秋装连衣裙 时尚气质 包臀 打底</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXD2lMAQeoE0L3C%2FwxJe10hMSR0eXXssYDzqN6WD%2FN6tBRzbldizhZ%2B%2Fy7yjVLOoD9ka4%3D"><img src="img/07.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXD2lMAQeoE0L3C%2FwxJe10hMSR0eXXssYDzqN6WD%2FN6tBRzbldizhZ%2B%2Fy7yjVLOoD9ka4%3D"><span>RMB 168.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>新款修身V领性感夜店女装连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXD2pm4hb0lOrYMz3Ito4HvmEwwSj0yHl6gzDnSFNWBGhE0fOceGqe36PQILluEndp0jE%3D"><img src="img/08.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXD2pm4hb0lOrYMz3Ito4HvmEwwSj0yHl6gzDnSFNWBGhE0fOceGqe36PQILluEndp0jE%3D"><span>RMB 189.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>女装韩版OL修身显瘦气质长袖翻领秋季裙子</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXD20EDV%2Fbf4UrbwCK4dxGHJXBtjSiRvPPDc5YM8VhyEUD3M1FTagYulhHDWTBHuah66Q%3D"><img src="img/09.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXD20EDV%2Fbf4UrbwCK4dxGHJXBtjSiRvPPDc5YM8VhyEUD3M1FTagYulhHDWTBHuah66Q%3D"><span>RMB 188.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>LUXLEAD洛诗琳 气质提花拼修身连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXD2C5gslEUGFG1PaGGHwtsdaIZGnRTS2tt2CeexxqvuJ6Xqd%2FNJ%2B%2Fo9yf1zYz%2FBMQ9A%3D%3D"><img src="img/10.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXD2C5gslEUGFG1PaGGHwtsdaIZGnRTS2tt2CeexxqvuJ6Xqd%2FNJ%2B%2Fo9yf1zYz%2FBMQ9A%3D%3D"><span>RMB 289.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>秋装连衣裙气质修身喜庆红色长袖两件套连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDECXwTzYENk5b1OrgILTzScsaEuZWVEyxQYgnP7UkZMSDTNb%2FZ1IFGn5oqGh21cLaA%3D%3D"><img src="img/11.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDECXwTzYENk5b1OrgILTzScsaEuZWVEyxQYgnP7UkZMSDTNb%2FZ1IFGn5oqGh21cLaA%3D%3D"><span>RMB 158.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>Uotime 2013秋装新款韩版女装假两件拼接连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDEHl%2FOU34Pf3md3TgWRWnBkgAtz5YN1LgzCayHXifP1OWbh5iH1dnuGFDUDqRP3l5bg%3D"><img src="img/12.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDEHl%2FOU34Pf3md3TgWRWnBkgAtz5YN1LgzCayHXifP1OWbh5iH1dnuGFDUDqRP3l5bg%3D"><span>RMB 138.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>佟依馨 圆领蕾丝立体绣花长袖修身连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDEOT%2FZRH67mNjFnbXwN8BXjuCjleoSBh2TIYDPXlDKTIVkMAaXTGVGnKCcyHexF5Lg%3D%3D"><img src="img/13.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDEOT%2FZRH67mNjFnbXwN8BXjuCjleoSBh2TIYDPXlDKTIVkMAaXTGVGnKCcyHexF5Lg%3D%3D"><span>RMB 249.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>2013秋装新款长袖抗皱 中长款连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CITy7klxxrJ35Nnc0bjrB3Saf93L%2FlSldhHHJ9NLaoxCYEG61fV4N3kuwWdCVzoD1C5doKy6%2BHy07YMneeE%2F4NY"><img src="img/14.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CITy7klxxrJ35Nnc0bjrB3Saf93L%2FlSldhHHJ9NLaoxCYEG61fV4N3kuwWdCVzoD1C5doKy6%2BHy07YMneeE%2F4NY"><span>RMB 79.00</span></a>
          </div>
        </div>

        <div class="product">
          <div class="title">
            <p>艾洛莎秋冬新版 修身七分袖秋装连衣裙</p>
          </div>
          <div class="img">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDEj1KqTHdZ6Fml12Jzo2ncY%2BXbaUDmJAvMqXXr46NHYsK9C1sh6M%2BtCW2%2FU4OYBnbQ%3D%3D"><img src="img/15.jpg" /></a>
          </div>
          <div class="price">
            <a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB07S4%2FK0CFcRfH0GoT805sipKaf%2FVsXDEj1KqTHdZ6Fml12Jzo2ncY%2BXbaUDmJAvMqXXr46NHYsK9C1sh6M%2BtCW2%2FU4OYBnbQ%3D%3D"><span>RMB 159.00</span></a>
          </div>
        </div>


    </div>

    <div class="footer">
      <hr />
      <p>男士爱美丽-女士爱漂亮 推送服务 Copyright 2013<span style="float:right;margin-right:15px;"><a href="/#">退订</a></span></p>
    </div>
  </body>
</html>
